.heading{
    text-align: center;
    margin-top: 50px;
}

.stopwatch{
    background-image: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)),
        url(images/bg.jpg);
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 50px auto 0;
    text-align: center;
}

.stopwatch h1{
    font-size: 80px;
    margin: 50px 0;
    color: white;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch img{
    width: 60px;
    margin: 0 30px;
    cursor: pointer;
}

.stopwatch img:nth-child(2){
    width: 90px;
}